{% extends 'base.jinja2' %} 

{%block script%}
$(document).ready(function(){
  $("#prependButton").click(function(){
    $("#prependModal").modal('show');
  });
});

{%endblock%}

{% block title %}
Home
{%endblock%}

{%block content%}
    {%include "prepend_token_modal.jinja2"%}
    {%with card_title="Encoder Text",submit_name="enc_submit",text=enc_text%} 
        {%include "textcard.jinja2"%}
    {%endwith%}
    {%if enc_token_text%}
        {%with card_title="Encoder Tokens",prepend_button=False,token_list=enc_token_text,dec_flag=False%}
            {%include "tokencard.jinja2"%}
        {%endwith%}
    {%endif%}
    {%with card_title="Decoder Text",submit_name="dec_submit",text=dec_text%}
        {%include "textcard.jinja2"%}
    {%endwith%}
    {%if dec_token_text%}
        {%with card_title="Decoder Tokens",prepend_button=prepend_button,token_list=dec_token_text,dec_flag=True%}
            {%include "tokencard.jinja2"%}
        {%endwith%}
    {%endif%}
    {%if enc_text%}
    <div class="row" style="padding-top: 10px">
        <div class="col-md-12">
            <form action="/generate" method="POST">
                <button type="submit" class="btn btn-outline-primary" id="generateButton" style="float:right">Autogenerate Summary from Prompts</button>   
            </form>
        </div>
    </div>  
    {%endif%}    
{%endblock%}