{% extends 'base.jinja2' %} 

{% block title %}
{{sel_token}}
{%endblock%}

{%block content%}
    {%with card_title="Prediction Probabilities",pred_info=pred_info%}
        {%include "predcard.jinja2"%}
    {%endwith%}
    {%with card_title="Encoder Attentions",collapse_title="enc",attr_info=enc_info%}
        {%include "attributioncard.jinja2" %}
    {%endwith%}
    {%with card_title="Decoder Attentions",collapse_title="dec",attr_info=dec_info%}
        {%include "attributioncard.jinja2" %}
    {%endwith%}    
    {%with card_title="Integrated Gradients",collapse_title="ig",attr_info=ig_info%}
        {%include "attributioncard.jinja2" %}
    {%endwith%}        
{%endblock%}